.column {
  flex: 1;

  @media (--tablet-main) {
    width: 100%;
  }

  .columnHeader {
    height: 8.4375rem;
    padding: 2.8125rem 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.625rem;
    position: relative;

    h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }

    button {
      position: absolute;
      right: 2rem;
      top: 1.5rem;
      font-size: 3rem;

      @media (--tablet-main) {
        font-size: 2rem;
        top: 2.5rem;
      }
    }
  }

  .columnContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 14.3125rem);
    padding: 1.6875rem 5.31255rem;
    overflow-y: auto;

    @media (--desktop-wide) {
      padding: 1rem 1.5rem;
    }
  }

  &:first-child {
    .columnHeader {
      background: #1a92db;
    }

    .columnContent {
      background: #bee3f6;
    }
  }

  &:nth-child(2) {
    .columnHeader {
      background: #e22959;
    }

    .columnContent {
      background: #f5c2c3;
    }
  }

  &:nth-child(3) {
    .columnHeader {
      background: #102640;
    }

    .columnContent {
      background: #bbc3cb;
    }
  }
}
